<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http:/www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 mt-3">
        <form method="post" th:action="@{/admin/save}"\>

        <div >
            <label for="patient">Nom</label>
            <input  class="form-control" id="patient" type="text" name="patient" th:value="${patient.nom}">
            <span th:error="${patient.nom}"></span>

        </div>
        <div >
            <label for="dtpt">Date de naissance</label>
            <input class="form-control"  id="dtpt" type="date" name="date" th:value="${patient.dateNaissance}">
            <span th:error="${patient.dateNaissance}"></span>
        </div>
        <div >
            <label for="mld">Malade</label>
            <input  id="mld" type="checkbox"  name="malade" th:checked="${patient.malade}">
            <span th:error="${patient.malade}"></span>
        </div>

        <div >
            <label for="src">Score</label>
            <input  class="form-control" id="src" type="text" name="score" th:value="${patient.score}">
            <span th:error="${patient.score}"></span>
        </div>

            <button type="submit"  class="btn btn-outline-primary">Save</button>



    </form>
    </div>

</div>
</body>
</html>